@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .background-web {
    @apply bg-gray-950; /* substitui #3c3c3c por uma cor Tailwind próxima */
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  .destacText {
    @apply text-yellow-100;
    text-decoration: underline;
  }
  .destacText2 {
    @apply text-gray-800;
    text-decoration: underline;
     border-radius: 5%;  
  }
}